<div class="row">
   <div class="col-md-2">
      
   </div>
   <div class="col-md-6">
      <img style="width: 100%;" src="../../../assets/img/logo.jpg" alt="">
   </div>
   <div style="background: white;" class="col-md-2">
      <div class="form-group">
         <b><label for="usuario">Usuario</label></b>
         <input type="email" class="form-control" id="usuario" placeholder="Digita tu usuario">
      </div>
      <div class="form-group">
         <b><label for="clave">Clave</label></b>
         <input type="password" class="form-control" id="clave" aria-describedby="claveAyuda" placeholder="Digita tu clave">
         <small id="claveAyuda" class="form-text text-muted">Recuerda que tu usuario y clave son intransferibles.</small>
      </div>
      <div class="form-group">
         <button style="width: 100%;" class="btn btn-primary">Ingresar</button>
      </div>
   </div>
   <div class="col-md-2">
      
   </div>
</div>